# Created by .ignore support plugin (hsz.mobi)
### Scala template
*.class
*.log


#intellij
*.iml
.idea/

# sbt specific
.cache
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.ensime
.ensime_cache/
.scala_dependencies
.worksheet

# ENSIME specific
.ensime_cache/
.ensime

.gitignore
data/
result/
out/
bin/global_env.sh
